.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
label{
    color: rgba(255,255,255,.55);
}
.boton {
    grid-column: 1 / span 3;
    grid-row: 0;
    width: 20%;
    /* align-items: center;
    border-top: 1px solid grey; */
    background-color: rgb(49, 49, 49);
    color: rgb(223, 223, 223);
    border-radius: 5px;
box-shadow: 2px 2px grey;
}
.pie{
    height: 50px; 
    width:100%; 
    position:absolute; 
    bottom:0; 
    left:0; 
}


.conte {
    grid-column: 1 / span 3;
}
.tabla {
    border: 1px black solid;
    padding: 8vh;
}
#boton {
    display: grid;
    grid-template-columns: 20%; 
}
#beta {
    background-color: red;
    width: 50px;
    border-radius: 5px;
    float: right;
}
#cabecera {
    width: 20%;
    height: auto;
    padding-bottom: 40px;
}
.color{
    border-color: rgb(34, 34, 34);    
}


    @media only screen and (max-width: 600px) {
        .grid {
            display: inline;
        }
      }

      .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 110%;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
   

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
       
      /* Ocultamos el checkbox html */
      .switch input {
        display:none;
      }
       
      /* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        -webkit-transition: .4s;
        transition: .4s;
      }
       
      /* Pintamos la perilla de control o slider usando el selector before */
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: black;
        background-image: url("https://1.bp.blogspot.com/_3At8PqsK7MM/RkEUaXhSPXI/AAAAAAAAAEc/NYH6JLweQbc/s200/On_Off_Symbol.svg.png");
        -webkit-transition: .4s;
        transition: .4s;
      }
       
      /* Cambiamos el color de fondo cuando el checkbox esta activado */
      input:checked + .slider {
        background-color: grey;
      }
       
      /* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
       
      /* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
      .slider.round {
        border-radius: 34px;
      }
       
      .slider.round:before {
        border-radius: 50%;
      }
