.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
.boton {
    grid-column: 1 / span 3;
    grid-row: 4;
    width: 20%;
    align-items: center;
    border-top: 1px solid grey;
    background-color: rgb(49, 49, 49);
    color: rgb(223, 223, 223);
}
.conte {
    grid-column: 1 / span 3;
}
.tabla {
    border: 1px black solid;
    padding: 8vh;
}
#boton {
    display: grid;
    grid-template-columns: 20%; 
}
#beta {
    background-color: red;
    width: 50px;
    border-radius: 5px;
    float: right;
}
#cabecera {
    width: 20%;
    height: auto;
    padding-bottom: 40px;
}
.color{
    border-color: rgb(34, 34, 34);    
}




    @media only screen and (max-width: 600px) {
        .grid {
            display: inline;
        }
        .boton{
            margin-top: 20px;
           
        }
        .form-check{
            margin-top: 15px;
        }
        .form-check-input{
            margin-top: 9px;
        }
        .titulo4{
            margin-top: 15px;
        }
        .label{
            margin-top: 6px;
        }
      }
