body{
   
        background-image: url('../img/fondo/35160-modernos.jpg');

    
}

form{
    border: rgb(156, 33, 33) 3px solid;
    border-radius: 10px;
    position: absolute;

    color: white;
    padding: 20px;
}
#boton{
    border-radius: 7px;
    background-color: rgba(3, 131, 250, 0.171);
    color: rgb(0, 0, 0);
}